body {
 background-color: #A594F9;
}

.todo-container {
    &-heading {
        color: #EEEEEE;
    }
    &-image {
        width: 40px;
    }
}

#todo-input {
    width: 100%;
    color: #43358a;
}

.todo-input-container {
    max-width: 500px;
}

#add-btn {
    color: #EEEEEE;
    background-color: #43358a;
}

.task-icon {
    width: 30px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #F5EFFF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-name {
    font-size: 25px;
    margin-bottom: 0px;
    width: calc(100% - 84px);
    overflow-x: scroll;
    scrollbar-width: none;
}

.task-btn {
    border:0px;
}

.complete-task {
    text-decoration: line-through;
}

#todo-list {
    max-height: 500px;
    overflow-y: scroll;
}

.filter-button {
    color: #F5EFFF;
    border:2px solid #F5EFFF;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover {
        color: #A594F9;
        background-color: #F5EFFF;
    }
}